In [10]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Import csv
v0_df = pd.read_csv('../../Vision_Zero_Crash_Report_Data.csv')
v0_df.head()

/var/folders/7x/4qfldl9d50907hl08vwmh8dm0000gn/T/ipykernel_89935/455836918.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  v0_df = pd.read_csv('../../Vision_Zero_Crash_Report_Data.csv')

,crash_id,crash_fatal_fl,crash_date,crash_time,case_id,rpt_latitude,rpt_longitude,rpt_block_num,rpt_street_pfx,rpt_street_name,...,bicycle_death_count,bicycle_serious_injury_count,pedestrian_death_count,pedestrian_serious_injury_count,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count,onsys_fl,private_dr_fl
0,"13,680,079",N,01/19/2014 08:52:00 PM,20:52:00,140191451,NaN,NaN,11000,NaN,NOT REPORTED,...,0,0,0,0,0,0,0,0,Y,N
1,"12,992,764",N,11/06/2012 04:51:00 AM,04:51:00,12-3110269,NaN,NaN,NaN,NaN,O RESEARCH,...,0,0,0,0,0,0,0,0,Y,N
2,"12,979,184",N,10/27/2012 05:01:00 AM,05:01:00,123010527,NaN,NaN,900,W,HOWARD,...,0,0,0,0,0,0,0,0,N,N
3,"12,963,865",N,10/22/2012 12:42:00 PM,12:42:00,122960848,NaN,NaN,3801,NaN,BALCONES CLUB,...,0,0,0,0,0,0,0,0,N,N
4,"12,979,325",N,10/29/2012 03:00:00 AM,03:00:00,123030223,NaN,NaN,4632,NaN,MOOSE,...,0,0,0,0,0,0,0,0,N,N

In [3]:
# List columns
v0_df.columns

Index(['crash_id', 'crash_fatal_fl', 'crash_date', 'crash_time', 'case_id',
       'rpt_latitude', 'rpt_longitude', 'rpt_block_num', 'rpt_street_pfx',
       'rpt_street_name', 'rpt_street_sfx', 'crash_speed_limit',
       'road_constr_zone_fl', 'latitude', 'longitude', 'street_name',
       'street_nbr', 'street_name_2', 'street_nbr_2', 'crash_sev_id',
       'sus_serious_injry_cnt', 'nonincap_injry_cnt', 'poss_injry_cnt',
       'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt', 'death_cnt',
       'contrib_factr_p1_id', 'contrib_factr_p2_id', 'units_involved',
       'atd_mode_category_metadata', 'pedestrian_fl', 'motor_vehicle_fl',
       'motorcycle_fl', 'bicycle_fl', 'other_fl', 'point',
       'apd_confirmed_fatality', 'apd_confirmed_death_count',
       'motor_vehicle_death_count', 'motor_vehicle_serious_injury_count',
       'bicycle_death_count', 'bicycle_serious_injury_count',
       'pedestrian_death_count', 'pedestrian_serious_injury_count',
       'motorcycle_death_count', 'motorcycle_serious_injury_count',
       'other_death_count', 'other_serious_injury_count', 'onsys_fl',
       'private_dr_fl'],
      dtype='object')

In [4]:
# View nulls
v0_df.isna().sum()

crash_id                                   0
crash_fatal_fl                             0
crash_date                                 0
crash_time                                 0
case_id                                 1773
rpt_latitude                          144525
rpt_longitude                         144525
rpt_block_num                          20848
rpt_street_pfx                         69093
rpt_street_name                            7
rpt_street_sfx                         46484
crash_speed_limit                          6
road_constr_zone_fl                        6
latitude                                3024
longitude                               3024
street_name                                6
street_nbr                             87552
street_name_2                          82887
street_nbr_2                          149743
crash_sev_id                               0
sus_serious_injry_cnt                      0
nonincap_injry_cnt                         4
poss_injry_cnt                             4
non_injry_cnt                              4
unkn_injry_cnt                             6
tot_injry_cnt                              5
death_cnt                                  0
contrib_factr_p1_id                   121617
contrib_factr_p2_id                   144755
units_involved                             1
atd_mode_category_metadata                 1
pedestrian_fl                         146129
motor_vehicle_fl                        1224
motorcycle_fl                         145862
bicycle_fl                            147123
other_fl                              144742
point                                   3024
apd_confirmed_fatality                     0
apd_confirmed_death_count                  0
motor_vehicle_death_count                  0
motor_vehicle_serious_injury_count         0
bicycle_death_count                        0
bicycle_serious_injury_count               0
pedestrian_death_count                     0
pedestrian_serious_injury_count            0
motorcycle_death_count                     0
motorcycle_serious_injury_count            0
other_death_count                          0
other_serious_injury_count                 0
onsys_fl                                   6
private_dr_fl                              0
dtype: int64

In [5]:
# Drop unnecessary columns
v0_df = v0_df.drop(columns=['case_id', 'rpt_latitude', 'rpt_longitude', 'rpt_block_num', 'rpt_street_pfx', 'rpt_street_name', 'rpt_street_sfx', 'street_name', 'street_nbr', 'street_name_2', 'street_nbr_2', 'contrib_factr_p1_id', 'contrib_factr_p2_id','units_involved','atd_mode_category_metadata','apd_confirmed_fatality', 'onsys_fl', 'private_dr_fl'])

In [6]:
# Drop rows without latitude & longitude
v0_df = v0_df.dropna(subset=["point"])
v0_df.isna().sum()

crash_id                                   0
crash_fatal_fl                             0
crash_date                                 0
crash_time                                 0
crash_speed_limit                          6
road_constr_zone_fl                        6
latitude                                   0
longitude                                  0
crash_sev_id                               0
sus_serious_injry_cnt                      0
nonincap_injry_cnt                         4
poss_injry_cnt                             4
non_injry_cnt                              4
unkn_injry_cnt                             6
tot_injry_cnt                              5
death_cnt                                  0
pedestrian_fl                         143142
motor_vehicle_fl                        1211
motorcycle_fl                         142888
bicycle_fl                            144131
other_fl                              141855
point                                      0
apd_confirmed_death_count                  0
motor_vehicle_death_count                  0
motor_vehicle_serious_injury_count         0
bicycle_death_count                        0
bicycle_serious_injury_count               0
pedestrian_death_count                     0
pedestrian_serious_injury_count            0
motorcycle_death_count                     0
motorcycle_serious_injury_count            0
other_death_count                          0
other_serious_injury_count                 0
dtype: int64

In [7]:
# Drop time from date time column
v0_df['crash_date'] = v0_df['crash_date'].str.split(' ',expand=True)[0]

In [9]:
# Encode Y/N columns
y_n = ['crash_fatal_fl', 'road_constr_zone_fl']
v0_df[y_n] = v0_df[y_n].replace({'Y': 1, 'N': 0})

In [11]:
# Fill blank values in "flag" columns with 0, switch 'Y' to 1
flag_columns = ['pedestrian_fl', 'motor_vehicle_fl', 'motorcycle_fl', 'bicycle_fl', 'other_fl']
v0_df[flag_columns] = v0_df[flag_columns].replace({np.nan: '0', 'Y': 1})
v0_df.head()

,crash_id,crash_fatal_fl,crash_date,crash_time,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,...,motor_vehicle_death_count,motor_vehicle_serious_injury_count,bicycle_death_count,bicycle_serious_injury_count,pedestrian_death_count,pedestrian_serious_injury_count,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count
1,"12,992,764",0,11/06/2012,04:51:00,65.0,0.0,30.377406,-97.734442,3,0,...,0,0,0,0,0,0,0,0,0,0
2,"12,979,184",0,10/27/2012,05:01:00,0.0,0.0,30.421736,-97.665935,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"12,963,865",0,10/22/2012,12:42:00,30.0,0.0,30.438155,-97.785708,3,0,...,0,0,0,0,0,0,0,0,0,0
4,"12,979,325",0,10/29/2012,03:00:00,25.0,0.0,30.205650,-97.854830,5,0,...,0,0,0,0,0,0,0,0,0,0
5,"12,979,569",0,10/18/2012,02:04:00,65.0,0.0,30.417802,-97.672780,2,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Total deaths by type
death_columns = ['motor_vehicle_death_count', 'bicycle_death_count', 'pedestrian_death_count', 'motorcycle_death_count']
for column in death_columns:
    print(f"{column}: {v0_df[column].sum()}")

motor_vehicle_death_count death count: 426
bicycle_death_count death count: 25
pedestrian_death_count death count: 293
motorcycle_death_count death count: 124

In [14]:
total_crashes = v0_df['crash_id'].count()
total_crashes

146719

In [15]:
total_fatal = v0_df['crash_fatal_fl'].sum()
total_fatal

834

In [18]:
percent_fatal = (total_fatal / total_crashes)
percent_fatal

0.005684335362154867