In [17]:
# Import dependencies
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [2]:
# Import data
precovid_df = pd.read_csv('../python_etl_processing/precovid_data.csv')
precovid_df.head()

,crash_id,crash_fatal_fl,crash_date,crash_time,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,...,motor_vehicle_death_count,motor_vehicle_serious_injury_count,bicycle_death_count,bicycle_serious_injury_count,pedestrian_death_count,pedestrian_serious_injury_count,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count
0,"12,992,764",0,2012-11-06,04:51:00,65.0,0.0,30.377406,-97.734442,3,0,...,0,0,0,0,0,0,0,0,0,0
1,"12,979,184",0,2012-10-27,05:01:00,0.0,0.0,30.421736,-97.665935,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"12,963,865",0,2012-10-22,12:42:00,30.0,0.0,30.438155,-97.785708,3,0,...,0,0,0,0,0,0,0,0,0,0
3,"12,979,325",0,2012-10-29,03:00:00,25.0,0.0,30.205650,-97.854830,5,0,...,0,0,0,0,0,0,0,0,0,0
4,"12,979,569",0,2012-10-18,02:04:00,65.0,0.0,30.417802,-97.672780,2,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Create 'serious' flag as outcome for fatalities or serious injuries

precovid_df['serious_fl'] = precovid_df.apply(lambda row: 1 if row['crash_fatal_fl'] == 1 or row['sus_serious_injry_cnt'] == 1 else 0, axis=1)
precovid_df.head()

,crash_id,crash_fatal_fl,crash_date,crash_time,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,...,motor_vehicle_serious_injury_count,bicycle_death_count,bicycle_serious_injury_count,pedestrian_death_count,pedestrian_serious_injury_count,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count,serious_fl
0,"12,992,764",0,2012-11-06,04:51:00,65.0,0.0,30.377406,-97.734442,3,0,...,0,0,0,0,0,0,0,0,0,0
1,"12,979,184",0,2012-10-27,05:01:00,0.0,0.0,30.421736,-97.665935,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"12,963,865",0,2012-10-22,12:42:00,30.0,0.0,30.438155,-97.785708,3,0,...,0,0,0,0,0,0,0,0,0,0
3,"12,979,325",0,2012-10-29,03:00:00,25.0,0.0,30.205650,-97.854830,5,0,...,0,0,0,0,0,0,0,0,0,0
4,"12,979,569",0,2012-10-18,02:04:00,65.0,0.0,30.417802,-97.672780,2,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Create year column
precovid_df['year'] = pd.DatetimeIndex(precovid_df['crash_date']).year
precovid_df['month'] = pd.DatetimeIndex(precovid_df['crash_date']).month
precovid_df['day'] = pd.DatetimeIndex(precovid_df['crash_date']).day
precovid_df['crash_time'] = pd.to_datetime(precovid_df['crash_time'])
precovid_df['hour'] = pd.DatetimeIndex(precovid_df['crash_time']).hour
precovid_df.head()

,crash_id,crash_fatal_fl,crash_date,crash_time,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,...,pedestrian_serious_injury_count,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count,serious_fl,year,month,day,hour
0,"12,992,764",0,2012-11-06,2022-10-25 04:51:00,65.0,0.0,30.377406,-97.734442,3,0,...,0,0,0,0,0,0,2012,11,6,4
1,"12,979,184",0,2012-10-27,2022-10-25 05:01:00,0.0,0.0,30.421736,-97.665935,0,0,...,0,0,0,0,0,0,2012,10,27,5
2,"12,963,865",0,2012-10-22,2022-10-25 12:42:00,30.0,0.0,30.438155,-97.785708,3,0,...,0,0,0,0,0,0,2012,10,22,12
3,"12,979,325",0,2012-10-29,2022-10-25 03:00:00,25.0,0.0,30.205650,-97.854830,5,0,...,0,0,0,0,0,0,2012,10,29,3
4,"12,979,569",0,2012-10-18,2022-10-25 02:04:00,65.0,0.0,30.417802,-97.672780,2,0,...,0,0,0,0,0,0,2012,10,18,2

In [5]:
# Import population csv
pop_df = pd.read_csv('../python_etl_processing/austin_pop.csv')
pop_df.head()

   Year  Population  Growth Rate
0  2022     2176000       0.0279
1  2021     2117000       0.0312
2  2020     2053000       0.0343
3  2019     1985000       0.0366
4  2018     1915000       0.0419

In [6]:
merged_df = precovid_df.merge(pop_df, left_on="year", right_on="Year", how="left")
merged_df = merged_df.drop(columns="Year")
merged_df.head()

,crash_id,crash_fatal_fl,crash_date,crash_time,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,...,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count,serious_fl,year,month,day,hour,Population,Growth Rate
0,"12,992,764",0,2012-11-06,2022-10-25 04:51:00,65.0,0.0,30.377406,-97.734442,3,0,...,0,0,0,0,2012,11,6,4,1495000,0.0425
1,"12,979,184",0,2012-10-27,2022-10-25 05:01:00,0.0,0.0,30.421736,-97.665935,0,0,...,0,0,0,0,2012,10,27,5,1495000,0.0425
2,"12,963,865",0,2012-10-22,2022-10-25 12:42:00,30.0,0.0,30.438155,-97.785708,3,0,...,0,0,0,0,2012,10,22,12,1495000,0.0425
3,"12,979,325",0,2012-10-29,2022-10-25 03:00:00,25.0,0.0,30.205650,-97.854830,5,0,...,0,0,0,0,2012,10,29,3,1495000,0.0425
4,"12,979,569",0,2012-10-18,2022-10-25 02:04:00,65.0,0.0,30.417802,-97.672780,2,0,...,0,0,0,0,2012,10,18,2,1495000,0.0425

In [7]:
merged_df.columns

Index(['crash_id', 'crash_fatal_fl', 'crash_date', 'crash_time',
       'crash_speed_limit', 'road_constr_zone_fl', 'latitude', 'longitude',
       'crash_sev_id', 'sus_serious_injry_cnt', 'nonincap_injry_cnt',
       'poss_injry_cnt', 'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt',
       'death_cnt', 'pedestrian_fl', 'motor_vehicle_fl', 'motorcycle_fl',
       'bicycle_fl', 'other_fl', 'point', 'apd_confirmed_death_count',
       'motor_vehicle_death_count', 'motor_vehicle_serious_injury_count',
       'bicycle_death_count', 'bicycle_serious_injury_count',
       'pedestrian_death_count', 'pedestrian_serious_injury_count',
       'motorcycle_death_count', 'motorcycle_serious_injury_count',
       'other_death_count', 'other_serious_injury_count', 'serious_fl', 'year',
       'month', 'day', 'hour', 'Population', 'Growth Rate'],
      dtype='object')

In [8]:
confusing = ['crash_id', 'crash_fatal_fl', 'crash_sev_id', 'sus_serious_injry_cnt', 'nonincap_injry_cnt',
       'poss_injry_cnt', 'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt', 'death_cnt', 'point', 'apd_confirmed_death_count',
       'motor_vehicle_death_count', 'motor_vehicle_serious_injury_count',
       'bicycle_death_count', 'bicycle_serious_injury_count',
       'pedestrian_death_count', 'pedestrian_serious_injury_count',
       'motorcycle_death_count', 'motorcycle_serious_injury_count',
       'other_death_count', 'other_serious_injury_count', 'serious_fl', 'crash_date', 'crash_time']

In [9]:
X = merged_df.drop(columns=confusing)
y = merged_df['serious_fl']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y)

In [11]:
clf = RandomForestClassifier(n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.9999884371675686
Testing Score: 0.9694741223810185

In [12]:
X.columns

Index(['crash_speed_limit', 'road_constr_zone_fl', 'latitude', 'longitude',
       'pedestrian_fl', 'motor_vehicle_fl', 'motorcycle_fl', 'bicycle_fl',
       'other_fl', 'year', 'month', 'day', 'hour', 'Population',
       'Growth Rate'],
      dtype='object')

In [13]:
noise = ['crash_id', 'crash_fatal_fl', 'crash_sev_id', 'sus_serious_injry_cnt', 'nonincap_injry_cnt',
       'poss_injry_cnt', 'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt', 'death_cnt', 'point', 'apd_confirmed_death_count',
       'motor_vehicle_death_count', 'motor_vehicle_serious_injury_count',
       'bicycle_death_count', 'bicycle_serious_injury_count',
       'pedestrian_death_count', 'pedestrian_serious_injury_count',
       'motorcycle_death_count', 'motorcycle_serious_injury_count',
       'other_death_count', 'other_serious_injury_count', 'crash_date', 'crash_time']

In [14]:
cleaned_df = merged_df.drop(columns=noise)
cleaned_df.corr()

,crash_speed_limit,road_constr_zone_fl,latitude,longitude,pedestrian_fl,motor_vehicle_fl,motorcycle_fl,bicycle_fl,other_fl,serious_fl,year,month,day,hour,Population,Growth Rate
crash_speed_limit,1.000000,0.083486,-0.036173,-0.055081,-0.046881,-0.002896,-0.009721,-0.048934,0.063972,0.011129,-0.063622,-0.005115,0.000404,-0.102952,-0.064853,0.059785
road_constr_zone_fl,0.083486,1.000000,-0.074923,0.044503,-0.018099,0.000787,-0.008979,-0.025362,0.049803,-0.004250,0.083414,-0.003708,0.000318,-0.020179,0.083486,-0.042083
latitude,-0.036173,-0.074923,1.000000,0.255749,-0.021372,0.008343,-0.012674,-0.022028,-0.028737,-0.010333,-0.008223,0.000410,-0.003937,0.010622,-0.008304,0.004426
longitude,-0.055081,0.044503,0.255749,1.000000,0.014877,0.017580,-0.013348,-0.012474,0.025633,0.013318,0.012003,-0.001148,0.003854,-0.015487,0.011727,-0.005715
pedestrian_fl,-0.046881,-0.018099,-0.021372,0.014877,1.000000,0.006266,-0.020070,-0.020616,-0.019319,0.182494,-0.002431,0.007898,-0.003697,0.019755,-0.002273,-0.003315
motor_vehicle_fl,-0.002896,0.000787,0.008343,0.017580,0.006266,1.000000,-0.561066,0.005764,0.002920,-0.108431,0.020741,-0.000443,-0.001789,-0.002097,0.020750,-0.013819
motorcycle_fl,-0.009721,-0.008979,-0.012674,-0.013348,-0.020070,-0.561066,1.000000,-0.018333,-0.012189,0.160078,-0.028388,-0.002177,0.000735,0.022000,-0.028322,0.018094
bicycle_fl,-0.048934,-0.025362,-0.022028,-0.012474,-0.020616,0.005764,-0.018333,1.000000,-0.019800,0.055921,-0.008837,-0.001231,-0.001358,0.018744,-0.008677,0.000657
other_fl,0.063972,0.049803,-0.028737,0.025633,-0.019319,0.002920,-0.012189,-0.019800,1.000000,0.009996,0.009582,-0.002278,-0.004657,-0.028721,0.009617,-0.008860
serious_fl,0.011129,-0.004250,-0.010333,0.013318,0.182494,-0.108431,0.160078,0.055921,0.009996,1.000000,-0.005462,0.003343,-0.000102,-0.005437,-0.005365,-0.000312
year,-0.063622,0.083414,-0.008223,0.012003,-0.002431,0.020741,-0.028388,-0.008837,0.009582,-0.005462,1.000000,-0.136557,-0.017610,0.012172,0.999632,-0.643105
month,-0.005115,-0.003708,0.000410,-0.001148,0.007898,-0.000443,-0.002177,-0.001231,-0.002278,0.003343,-0.136557,1.000000,-0.005255,0.006472,-0.133499,0.142012
day,0.000404,0.000318,-0.003937,0.003854,-0.003697,-0.001789,0.000735,-0.001358,-0.004657,-0.000102,-0.017610,-0.005255,1.000000,0.001867,-0.017382,0.019611
hour,-0.102952,-0.020179,0.010622,-0.015487,0.019755,-0.002097,0.022000,0.018744,-0.028721,-0.005437,0.012172,0.006472,0.001867,1.000000,0.012150,-0.001874
Population,-0.064853,0.083486,-0.008304,0.011727,-0.002273,0.020750,-0.028322,-0.008677,0.009617,-0.005365,0.999632,-0.133499,-0.017382,0.012150,1.000000,-0.648319
Growth Rate,0.059785,-0.042083,0.004426,-0.005715,-0.003315,-0.013819,0.018094,0.000657,-0.008860,-0.000312,-0.643105,0.142012,0.019611,-0.001874,-0.648319,1.000000

In [15]:
predictions = clf.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

        Prediction  Actual
33138            0       0
106639           0       0
87451            0       0
78896            0       0
69270            0       0
...            ...     ...
102788           0       0
113043           0       0
22825            0       0
21501            0       0
108479           0       0

[28828 rows x 2 columns]

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.9694741223810185

In [21]:
totals = merged_df.groupby(["year", "month"]).sum()
totals

            crash_fatal_fl  crash_speed_limit  road_constr_zone_fl  \
year month
2012 10                  4            20610.0                 23.0
     11                  4            40334.0                 37.0
     12                 10            41884.0                 32.0
2013 1                   8            35300.0                 29.0
     2                   7            37054.0                 21.0
...                    ...                ...                  ...
2019 11                  8            38685.0                 74.0
     12                  8            41600.0                 79.0
2020 1                  11            38411.0                 99.0
     2                   8            40832.0                 98.0
     3                   1            18003.0                 47.0

                latitude      longitude  crash_sev_id  sus_serious_injry_cnt  \
year month
2012 10     18117.218761  -58450.880994          2101                     18
     11     35087.184757 -113183.792866          3939                     35
     12     37452.987871 -120810.063776          4470                     40
2013 1      32089.467791 -103509.008441          3748                     46
     2      34819.771344 -112299.817518          4005                     55
...                  ...            ...           ...                    ...
2019 11     39241.312937 -126569.128690          4762                     32
     12     41604.075394 -134195.074801          5074                     52
2020 1      39269.739141 -126668.220063          4931                     32
     2      40387.406396 -130285.068637          5103                     28
     3      19724.164976  -63627.938892          2421                     22

            nonincap_injry_cnt  poss_injry_cnt  non_injry_cnt  ...  \
year month                                                     ...
2012 10                  195.0           286.0         1080.0  ...
     11                  434.0           530.0         2044.0  ...
     12                  364.0           454.0         2349.0  ...
2013 1                   305.0           398.0         1815.0  ...
     2                   407.0           438.0         2066.0  ...
...                        ...             ...            ...  ...
2019 11                  369.0           416.0         2241.0  ...
     12                  415.0           440.0         2532.0  ...
2020 1                   339.0           367.0         2395.0  ...
     2                   336.0           365.0         2496.0  ...
     3                   162.0           219.0         1180.0  ...

            pedestrian_serious_injury_count  motorcycle_death_count  \
year month
2012 10                                   1                       1
     11                                   6                       0
     12                                   4                       3
2013 1                                    7                       3
     2                                    5                       0
...                                     ...                     ...
2019 11                                   8                       2
     12                                   7                       0
2020 1                                    3                       1
     2                                    4                       0
     3                                    5                       0

            motorcycle_serious_injury_count  other_death_count  \
year month
2012 10                                   3                  0
     11                                   8                  0
     12                                   6                  0
2013 1                                    3                  0
     2                                    6                  0
...                                     ...                ...
2019 11                                   7                  0
     12                                   4                  0
2020 1                                    4                  0
     2                                    4                  0
     3                                    2                  0

            other_serious_injury_count  serious_fl    day   hour  Population  \
year month
2012 10                              0          20  14735   7752   894010000
     11                              0          39  16749  15009  1731210000
     12                              0          37  19492  16025  1847820000
2013 1                               0          41  16730  13427  1649922000
     2                               0          46  16261  14986  1790142000
...                                ...         ...    ...    ...         ...
2019 11                              0          40  19548  16903  2570575000
     12                              0          45  20401  18276  2725405000
2020 1                               0          32  21344  16844  2660688000
     2                               0          34  20159  17189  2736649000
     3                               0          17   4860   8644  1336503000

            Growth Rate
year month
2012 10         25.4150
     11         49.2150
     12         52.5300
2013 1          44.5839
     2          48.3729
...                 ...
2019 11         47.3970
     12         50.2518
2020 1          44.4528
     2          45.7219
     3          22.3293

[90 rows x 34 columns]