In [1]:
# Import dependencies
import pandas as pd
import numpy as np

In [2]:
# Import csv
v0_df = pd.read_csv('../../Vision_Zero_Crash_Report_Data.csv')

/var/folders/7x/4qfldl9d50907hl08vwmh8dm0000gn/T/ipykernel_98958/3658225896.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  v0_df = pd.read_csv('../../Vision_Zero_Crash_Report_Data.csv')

In [3]:
# List columns
v0_df.columns

Index(['crash_id', 'crash_fatal_fl', 'crash_date', 'crash_time', 'case_id',
       'rpt_latitude', 'rpt_longitude', 'rpt_block_num', 'rpt_street_pfx',
       'rpt_street_name', 'rpt_street_sfx', 'crash_speed_limit',
       'road_constr_zone_fl', 'latitude', 'longitude', 'street_name',
       'street_nbr', 'street_name_2', 'street_nbr_2', 'crash_sev_id',
       'sus_serious_injry_cnt', 'nonincap_injry_cnt', 'poss_injry_cnt',
       'non_injry_cnt', 'unkn_injry_cnt', 'tot_injry_cnt', 'death_cnt',
       'contrib_factr_p1_id', 'contrib_factr_p2_id', 'units_involved',
       'atd_mode_category_metadata', 'pedestrian_fl', 'motor_vehicle_fl',
       'motorcycle_fl', 'bicycle_fl', 'other_fl', 'point',
       'apd_confirmed_fatality', 'apd_confirmed_death_count',
       'motor_vehicle_death_count', 'motor_vehicle_serious_injury_count',
       'bicycle_death_count', 'bicycle_serious_injury_count',
       'pedestrian_death_count', 'pedestrian_serious_injury_count',
       'motorcycle_death_count', 'motorcycle_serious_injury_count',
       'other_death_count', 'other_serious_injury_count', 'onsys_fl',
       'private_dr_fl'],
      dtype='object')

In [4]:
# View nulls
v0_df.isna().sum()

crash_id                                   0
crash_fatal_fl                             0
crash_date                                 0
crash_time                                 0
case_id                                 1773
rpt_latitude                          144525
rpt_longitude                         144525
rpt_block_num                          20848
rpt_street_pfx                         69093
rpt_street_name                            7
rpt_street_sfx                         46484
crash_speed_limit                          6
road_constr_zone_fl                        6
latitude                                3024
longitude                               3024
street_name                                6
street_nbr                             87552
street_name_2                          82887
street_nbr_2                          149743
crash_sev_id                               0
sus_serious_injry_cnt                      0
nonincap_injry_cnt                         4
poss_injry_cnt                             4
non_injry_cnt                              4
unkn_injry_cnt                             6
tot_injry_cnt                              5
death_cnt                                  0
contrib_factr_p1_id                   121617
contrib_factr_p2_id                   144755
units_involved                             1
atd_mode_category_metadata                 1
pedestrian_fl                         146129
motor_vehicle_fl                        1224
motorcycle_fl                         145862
bicycle_fl                            147123
other_fl                              144742
point                                   3024
apd_confirmed_fatality                     0
apd_confirmed_death_count                  0
motor_vehicle_death_count                  0
motor_vehicle_serious_injury_count         0
bicycle_death_count                        0
bicycle_serious_injury_count               0
pedestrian_death_count                     0
pedestrian_serious_injury_count            0
motorcycle_death_count                     0
motorcycle_serious_injury_count            0
other_death_count                          0
other_serious_injury_count                 0
onsys_fl                                   6
private_dr_fl                              0
dtype: int64

In [5]:
# Drop unnecessary columns
v0_df = v0_df.drop(columns=['case_id', 'rpt_latitude', 'rpt_longitude', 'rpt_block_num', 'rpt_street_pfx', 'rpt_street_name', 'rpt_street_sfx', 'street_name', 'street_nbr', 'street_name_2', 'street_nbr_2', 'contrib_factr_p1_id', 'contrib_factr_p2_id','units_involved','atd_mode_category_metadata','apd_confirmed_fatality', 'onsys_fl', 'private_dr_fl'])

In [6]:
# Drop rows without latitude & longitude
v0_df = v0_df.dropna(subset=["point"])
v0_df.isna().sum()

crash_id                                   0
crash_fatal_fl                             0
crash_date                                 0
crash_time                                 0
crash_speed_limit                          6
road_constr_zone_fl                        6
latitude                                   0
longitude                                  0
crash_sev_id                               0
sus_serious_injry_cnt                      0
nonincap_injry_cnt                         4
poss_injry_cnt                             4
non_injry_cnt                              4
unkn_injry_cnt                             6
tot_injry_cnt                              5
death_cnt                                  0
pedestrian_fl                         143142
motor_vehicle_fl                        1211
motorcycle_fl                         142888
bicycle_fl                            144131
other_fl                              141855
point                                      0
apd_confirmed_death_count                  0
motor_vehicle_death_count                  0
motor_vehicle_serious_injury_count         0
bicycle_death_count                        0
bicycle_serious_injury_count               0
pedestrian_death_count                     0
pedestrian_serious_injury_count            0
motorcycle_death_count                     0
motorcycle_serious_injury_count            0
other_death_count                          0
other_serious_injury_count                 0
dtype: int64

In [7]:
# Drop time from date time column
v0_df['crash_date'] = v0_df['crash_date'].str.split(' ',expand=True)[0]

In [8]:
# Turn crash date to datetime
v0_df['crash_date'] = pd.to_datetime(v0_df['crash_date'])

In [9]:
# Encode Y/N columns
y_n = ['crash_fatal_fl', 'road_constr_zone_fl']
v0_df[y_n] = v0_df[y_n].replace({'Y': 1, 'N': 0})

In [10]:
# Fill blank values in "flag" columns with 0, switch 'Y' to 1
flag_columns = ['pedestrian_fl', 'motor_vehicle_fl', 'motorcycle_fl', 'bicycle_fl', 'other_fl']
v0_df[flag_columns] = v0_df[flag_columns].replace({np.nan: '0', 'Y': 1})
v0_df.head()

,crash_id,crash_fatal_fl,crash_date,crash_time,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,...,motor_vehicle_death_count,motor_vehicle_serious_injury_count,bicycle_death_count,bicycle_serious_injury_count,pedestrian_death_count,pedestrian_serious_injury_count,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count
1,"12,992,764",0,2012-11-06,04:51:00,65.0,0.0,30.377406,-97.734442,3,0,...,0,0,0,0,0,0,0,0,0,0
2,"12,979,184",0,2012-10-27,05:01:00,0.0,0.0,30.421736,-97.665935,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"12,963,865",0,2012-10-22,12:42:00,30.0,0.0,30.438155,-97.785708,3,0,...,0,0,0,0,0,0,0,0,0,0
4,"12,979,325",0,2012-10-29,03:00:00,25.0,0.0,30.205650,-97.854830,5,0,...,0,0,0,0,0,0,0,0,0,0
5,"12,979,569",0,2012-10-18,02:04:00,65.0,0.0,30.417802,-97.672780,2,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# Drop NAs
v0_df = v0_df.dropna()

In [12]:
v0_df.dtypes

crash_id                                      object
crash_fatal_fl                                 int64
crash_date                            datetime64[ns]
crash_time                                    object
crash_speed_limit                            float64
road_constr_zone_fl                          float64
latitude                                     float64
longitude                                    float64
crash_sev_id                                   int64
sus_serious_injry_cnt                          int64
nonincap_injry_cnt                           float64
poss_injry_cnt                               float64
non_injry_cnt                                float64
unkn_injry_cnt                               float64
tot_injry_cnt                                float64
death_cnt                                      int64
pedestrian_fl                                 object
motor_vehicle_fl                              object
motorcycle_fl                                 object
bicycle_fl                                    object
other_fl                                      object
point                                         object
apd_confirmed_death_count                      int64
motor_vehicle_death_count                      int64
motor_vehicle_serious_injury_count             int64
bicycle_death_count                            int64
bicycle_serious_injury_count                   int64
pedestrian_death_count                         int64
pedestrian_serious_injury_count                int64
motorcycle_death_count                         int64
motorcycle_serious_injury_count                int64
other_death_count                              int64
other_serious_injury_count                     int64
dtype: object

In [13]:
## UPLOAD DATA HERE TO SQL

In [14]:
# Total deaths by type
death_columns = ['motor_vehicle_death_count', 'bicycle_death_count', 'pedestrian_death_count', 'motorcycle_death_count', 'other_death_count']
death_list = []
for column in death_columns:
    death_list.append(v0_df[column].sum())
    print(f"{column}: {v0_df[column].sum()}")

motor_vehicle_death_count: 425
bicycle_death_count: 24
pedestrian_death_count: 290
motorcycle_death_count: 124
other_death_count: 2

In [15]:
total_crashes = v0_df['crash_id'].count()

In [16]:
total_fatal = v0_df['crash_fatal_fl'].sum()
percent_fatal = (total_fatal / total_crashes) * 100
death_list.append(total_fatal)
death_list.append(percent_fatal)
death_list

[425, 24, 290, 124, 2, 828, 0.5643671658271591]

In [17]:
# Total injuries by type
injury_columns = ['motor_vehicle_serious_injury_count', 'bicycle_serious_injury_count', 'pedestrian_serious_injury_count', 'motorcycle_serious_injury_count', 'other_serious_injury_count']
injury_list = []
for column in injury_columns:
    injury_list.append(v0_df[column].sum())
    print(f"{column}: {v0_df[column].sum()}")

motor_vehicle_serious_injury_count: 3406
bicycle_serious_injury_count: 274
pedestrian_serious_injury_count: 642
motorcycle_serious_injury_count: 733
other_serious_injury_count: 18

In [18]:
total_injury = v0_df['sus_serious_injry_cnt'].sum()
percent_injury = (total_injury / total_crashes) * 100
injury_list.append(total_injury)
injury_list.append(percent_injury)

In [19]:
data = {'deaths': death_list, 'injuries': injury_list}
index = ['motor_vehicle', 'bicycle', 'pedestrian', 'motorcycle', 'other', 'total', 'percent']
totals_df = pd.DataFrame(data=data, index=index)
totals_df

                   deaths     injuries
motor_vehicle  425.000000  3406.000000
bicycle         24.000000   274.000000
pedestrian     290.000000   642.000000
motorcycle     124.000000   733.000000
other            2.000000    18.000000
total          828.000000  5081.000000
percent          0.564367     3.463224

In [20]:
# Separate data into pre- and post-March 2020
precovid_df = v0_df.copy()
precovid_df = precovid_df[precovid_df['crash_date'] < '2020-03-15']
precovid_df

,crash_id,crash_fatal_fl,crash_date,crash_time,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,...,motor_vehicle_death_count,motor_vehicle_serious_injury_count,bicycle_death_count,bicycle_serious_injury_count,pedestrian_death_count,pedestrian_serious_injury_count,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count
1,"12,992,764",0,2012-11-06,04:51:00,65.0,0.0,30.377406,-97.734442,3,0,...,0,0,0,0,0,0,0,0,0,0
2,"12,979,184",0,2012-10-27,05:01:00,0.0,0.0,30.421736,-97.665935,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"12,963,865",0,2012-10-22,12:42:00,30.0,0.0,30.438155,-97.785708,3,0,...,0,0,0,0,0,0,0,0,0,0
4,"12,979,325",0,2012-10-29,03:00:00,25.0,0.0,30.205650,-97.854830,5,0,...,0,0,0,0,0,0,0,0,0,0
5,"12,979,569",0,2012-10-18,02:04:00,65.0,0.0,30.417802,-97.672780,2,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128003,"18,070,228",0,2017-04-23,02:49:00,30.0,0.0,30.274946,-97.748985,0,0,...,0,0,0,0,0,0,0,0,0,0
128588,"18,160,796",0,2019-09-27,15:48:00,-1.0,0.0,30.333395,-97.668202,2,0,...,0,0,0,0,0,0,0,0,0,0
130979,"18,228,071",0,2019-09-20,14:50:00,35.0,0.0,30.357701,-97.700138,5,0,...,0,0,0,0,0,0,0,0,0,0
131161,"18,265,486",0,2019-05-20,08:33:00,50.0,0.0,30.261536,-97.736309,5,0,...,0,0,0,0,0,0,0,0,0,0
140472,"18,735,428",0,2020-02-06,01:54:00,65.0,0.0,30.284765,-97.726140,3,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
postcovid_df = v0_df.copy()
postcovid_df = postcovid_df[postcovid_df['crash_date'] > '2020-03-15']
postcovid_df

,crash_id,crash_fatal_fl,crash_date,crash_time,crash_speed_limit,road_constr_zone_fl,latitude,longitude,crash_sev_id,sus_serious_injry_cnt,...,motor_vehicle_death_count,motor_vehicle_serious_injury_count,bicycle_death_count,bicycle_serious_injury_count,pedestrian_death_count,pedestrian_serious_injury_count,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count
107270,"17,634,258",0,2020-03-22,09:10:00,-1.0,0.0,30.222560,-97.835531,5,0,...,0,0,0,0,0,0,0,0,0,0
107318,"17,634,302",0,2020-03-23,00:00:00,70.0,0.0,30.140395,-97.795955,5,0,...,0,0,0,0,0,0,0,0,0,0
107328,"17,624,617",0,2020-03-17,07:57:00,55.0,0.0,30.245247,-97.807403,5,0,...,0,0,0,0,0,0,0,0,0,0
107560,"17,634,273",0,2020-03-22,20:26:00,45.0,0.0,30.345173,-97.620114,2,0,...,0,0,0,0,0,0,0,0,0,0
107637,"17,630,060",0,2020-03-19,13:39:00,-1.0,0.0,30.210261,-97.816585,5,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149738,"19,140,079",0,2022-09-28,08:24:00,45.0,0.0,30.222171,-97.762638,2,0,...,0,0,0,0,0,0,0,0,0,0
149739,"19,136,405",0,2022-09-26,09:58:00,70.0,0.0,30.345908,-97.751102,2,0,...,0,0,0,0,0,0,0,0,0,0
149740,"19,159,793",0,2022-09-07,07:15:00,35.0,0.0,30.432013,-97.652493,3,0,...,0,0,0,0,0,0,0,0,0,0
149741,"19,131,595",0,2022-09-25,10:07:00,45.0,0.0,30.249691,-97.866282,5,0,...,0,0,0,0,0,0,0,0,0,0
149742,"19,122,982",0,2022-09-19,21:59:00,30.0,0.0,30.354616,-97.699656,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# Export pre-covid data to csv
precovid_df.to_csv('precovid_data.csv', index=False)